fastapi
uvicorn[standard]
requests
pydantic
python-multipart
faster-whisper
langchain-openai
langchain-community
langchain-text-splitters
python-dotenv
pymupdf
faiss-cpu
openai
jinja2
aiofiles
langchain
langgraph
langgraph-checkpoint-sqlite
